/* HEADER */
.header{
    padding: 60px 7%;
}

.header__text{
    position: relative;
    z-index: 2;
}

.header h1{
    font-size: 58px;
    color: var(--headerTitle);
    font-weight: 600;
}

.header__bold{
    font-weight: 800!important;
    margin-bottom: -12px;
}

.header__skills{
    margin-top: 70px;
    margin-bottom: 25px;
}

.header__skills ul{
    display: flex;
    flex-direction: row;
}

.header__skills li{
    margin: 0 20px;
    padding-left: 15px;
    color: var(--headerSkills);
    font-weight: 600;
}

.header__skills li:nth-child(1){
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.header p{
    color: var(--HeaderDescription);
    font-weight: 700;
    width: 70%;
}

.header__btn__section{
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__dark{
    background-color: var(--headerBtnDark);
    color: var(--headerBtnDarkText);
    padding: 20px 40px;
    border-radius: 19px;
    font-weight: 600;
    transition: .3s;
}

.btn__dark:hover{
    opacity: 0.8;
    transition: .3s;
}

.btn__outline{
    border: 2px solid var(--headerBtnOutline);
    border-radius: 19px;
    padding: 16px 40px;
    color: var(--headerBtnOutlineText);
    font-weight: 600;
    transition: .5s;
}

.btn__outline:hover{
    border: 2px solid var(--headerBtnOutlineHover);
    transition: .5s;
}

.header img{
    float: right;
    margin-right: 50px;
    position: relative;
    z-index: 1;
}

/* Responsive */
@media only screen and (max-width: 1100px) {
    .header{
        padding: 100px 7% 50px;
    }

    .header h1{
        font-size: 38px;
    }

    .header__skills{
        margin-top: 60px;
    }

    .header__skills li{
        font-size: 15px;
    }

    .header p{
        width: 100%;
    }

    .btn{
        margin-bottom: 20px;
    }

    .header img{
        display: none;
    }
}

@media only screen and (max-width: 584px) {
    .header__btn__section{
        flex-direction: column;
    }
}
