/* SERVICES SECTION */
.services__section{
    margin: 100px 2% 20px;
    background-color: var(--servicesBackground);
    border-radius: 30px;
    padding: 6% 15%;
}

.services__section{
    font-weight: 800;
}

.services__text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.services__section h1{
    font-weight: 800;
    font-size: 55px;
    color: var(--servicesTitle);
    margin-bottom: 8px;
}

.services__section p{
    font-weight: 500;
    color: var(--servicesDescription);
    width: 450px;
}

.services__cards{
    margin-top: 70px;
}

.services__card{
    border: 2px solid var(--servicesCardOutline);
    border-radius: 18px;
    padding: 50px;
    margin-bottom: 25px;
}

.services__cards h2{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 10px;
}

.services__cards p{
    font-weight: 500;
    font-size: 13px;
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .services__section{
        margin: 100px 2% 20px;
        padding: 15% 5% 5%;
    }

    .services__section h1{
        font-size: 40px;
    }

    .services__section p{
        width: 90%;
        font-size: 15px;
    }

    .services__cards{
        margin-top: 50px;
    }

    .services__card{
        padding: 40px 40px 45px;
        margin-bottom: 25px;
    }

    .services__cards p{
        font-size: 14px;
    }
}