/* ABOUT SECTION */
.about__section{
    margin: 0 2% 80px;
    background-color: var(--aboutBackground);
    border-radius: 30px;
    padding: 6% 24%;
}

.about__me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about__me h4{
    color: var(--aboutSmallHeader);
    margin-bottom: 25px;
}

.about__me img{
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about__me h3{
    font-weight: 800;
    font-size: 30px;
    color: var(--aboutName);
}

.about__me h5{
    color: var(--aboutProfession);
    margin-bottom: 40px;
}

.about__me p{
    margin-bottom: 20px;
    color: var(--aboutDescription);
    font-weight: 500;
}

.about__me .br{
    width: 24px;
    border-top: 2px solid var(--aboutBr);
    margin-bottom: 20px;
}

.social{
    margin-top: 30px;
    margin-bottom: 90px;
}

.social path{
    fill: var(--svg)!important;
}

.social svg{
    transition: .4s;
}

.social svg:hover{
    opacity: 0.8;
    transition: .4s;
}

.social a{
    margin: 0 15px;
}

.about__stats{
    width: 100%;
}

.stats__row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid var(--aboutBr);
    padding-right: 50px;
    padding-left: 50px;
}

.stats:nth-last-child(1){
    border-right: 0;
}

.stats h1{
    margin-right: 25px;
    font-size: 40px;
    font-weight: 800;
    color: var(--aboutStatsNumber);
}

.stats p{
    color: var(--aboutStatsInfo);
    font-weight: 600;
    width: 80px;
    font-size: 13px;
}

@media only screen and (max-width: 1100px) {
    .about__section{
        padding: 15% 7%;
    }

    .social {
        margin-bottom: 50px;
    }

    .stats__row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stats{
        border-right: 0;
        margin: 10px 0;
    }

    .stats:nth-child(1){
        border-top: 2px solid grey;
        padding-top: 40px;
        margin-top: 30px;
    }
}