/* NAVBAR */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 60px 7%;
}

.navbar__brand{
    font-size: 18px;
    font-weight: 600;
    color: var(--navbarBrand);
}

.navbar__brand span{
    font-weight: 900;
}

.navbar__links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar__links li{
    margin: 0 18px;
    list-style: none;
}

.navbar__links li:nth-last-child(1){
    margin-left: 20px;
}

.navbar__links a{
    color: var(--navbarLink);
    font-weight: 600;
    font-size: 15px;
    transition: .2s;
}

.navbar__links a:hover{
    opacity: 0.6;
    transition: .2s;
}

.navbar__btn{
    border: 2px solid var(--navbarBtn);
    border-radius: 23px;
    padding: 16px 40px;
    cursor: pointer;
    transition: .5s;
}

.navbar__btn:hover{
    border: 2px solid var(--navbarBtnHover);
    transition: .5s;
}

.navbar__menu{
    display: none;
}

@media only screen and (max-width: 1100px) {
    .navbar{
        padding: 35px 7%;
    }

    .navbar__menu line{
        stroke: var(--navbarHamburger);
    }

    .navbar__links{
        display: none;
    }

    .navbar__links--active{
        z-index: 999;
        position: absolute;
        display: block;
        margin-top: 280px;
        background-color: white;
        border-bottom: 2px solid var(--navbarMobileBorder);
        width: calc(100% - 58px);
        padding: 20px 0;
    }

    .navbar__links ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__links li{
        margin: 10px 18px 0 0;
        list-style: none;
    }

    .navbar__links li:nth-last-child(1){
        margin-left: 0;
        margin-top: 40px;
    }

    .navbar__menu{
        display: block;
    }
}
